@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Outfit:wght@600&display=swap');

/* Apply font style on entire DOC */

* {
  font-family: 'Montserrat';
}

/* Navigation section/bar Styling */

#navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(37, 33, 33);
  color: white;
  border-radius: 3rem;
}

#name {
  font-size: 2rem;
}

#nameLogo {
  height: 5rem;
  width: 5rem;
  border-radius: 2rem;
}

#webLogo {
  height: 5rem;
  width: 5rem;
  border-radius: 2rem;
}

#navItems ul {
  display: flex;
}

#navItems ul li {
  display: inline-block;
  padding: 0px 20px;
}

/* About Section Styling */

#about {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 800;
  margin-top: 20px;
  border-radius: 2rem;
}

#headingAbout {
  text-align: center;
}

#jobtypeLogo {
  height: 17rem;
  width: 40rem;
}

.personalInfo {
  display: flex;
  align-items: center;
}

.personalInfo img {
  height: 2rem;
  width: 2rem;
  margin: 5px 5px;
  border-radius: 1rem;
}

/* Experience,Skill and personal section styling */

#outer {
  display: flex;
  justify-content: space-around;
  background-color: rgb(24, 22, 22);
  border-radius: 2rem;
  color: white;
}

.expLogo {
  height: 3rem;
  width: 3rem;
  border-radius: 2rem;
  margin: 10px 10px;
}

.exp {
  display: flex;
  align-items: center;
}

.exp img {
  height: 2rem;
  width: 2rem;
  border-radius: 2rem;
  margin: 3px;
}

.exp h4 {
  padding-left: 3px;
}

#personal {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  background-color: rgb(24, 23, 23);
  color: white;
  border-radius: 2rem;
}

/* Contacts Section styling */

#contacts {
  display: flex;
  justify-content: center;
}

.contactLogo {
  height: 3rem;
  width: 3rem;
  padding: 10px 10px;
  border-radius: 1rem;
}
